<%= form_for @post, :html => { :class => "form-horizontal" }  do |f| %>
  <div class="control-group">
    <%= f.label :query, "Put your query:", :class => "control-label" %>
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on"><i class="icon-question-sign"></i></span>
        <%= f.text_field :query, :id => "input_query", :placeholder => "input query" %>
      </div>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :search_question, "What we hope get:", :class => "control-label" %>
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on"><i class="icon-globe"></i></span>
        <%= f.text_field :search_question, :id => "input_search_question", :placeholder => "receiving line" %>
      </div>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :search_type, "Select browser:", :class => "control-label" %>
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on"><i class="icon-search"></i></span>
  	  	<%= f.select :search_type, Post::SEARCH_TYPES %>
      </div>
  	</div>
  </div>

  <div class="control-group">
    <div class="controls">
	  <%= f.submit "Search", :class => 'btn btn-info'  %>
    </div>
  </div>
<% end %>